body {
    margin: 0px
}

#globotec-background-main {
    opacity: 0.7;
    border: 0px solid black;
    position: absolute;
    background-image: url('./assistencia-tecnica-notebook.jpg?2');
    background-repeat: no-repeat;
    background-position: 0vw 00vw;

}

#globotec-background-color-main {
    background-color: rgb(0, 0, 26);
    z-index: 0;
    opacity: 0.5;
    border: 0px solid black;
    position: absolute;
}

@media (max-width:576px) {
    #globotec-background-main {
        height: 100vw;
        background-size: 100vw 100vw
    }

    #globotec-background-color-main {
        height: 100vw;
        width: 100vw;

    }

    #assistencia-tecnica-globotec-logo {}
}

@media(min-width:576px) and (max-width:768px) {
    #globotec-background-main {
        height: 100vw;
        background-size: 100vw 100vw
    }

    #globotec-background-color-main {
        height: 100vw;
        width: 100vw;

    }

}


@media(min-width:768px) and (max-width:1200px) {
    #globotec-background-main {
        height: 50vw;
        background-size: 100vw 60vw;
        background-position: 0vw 0vw;
    }

    #globotec-background-color-main {
        background-color: rgb(0, 0, 26);
        opacity: 0.5;
        height: 50vw;
        width: 100vw;
        border: 0px solid black;
        position: absolute;
    }

    #assistencia-tecnica-globotec-logo {
        width: 16vw;
    }
}