body {
  margin: 0px;
}
.sectionAzul {
  float: left;
  background-color: rgba(0, 0, 63, 0.788);
  height: 100%;
  width: 60%;
  border: 0px solid black;
}

.headerNome {
  font-family: "Kanit", sans-serif;
  color: rgb(186, 255, 206);
  font-size: 4vw;
  width: 28vh;
  position: relative;
  left: 2vw;
  top: 5vh;
  border: 0px solid black;
}
.sectionNomeEDescricao {
  position: relative;
  top: 25vh;
  left: 2vw;
}

.imgFotoJunior {
  border: 0px dashed black;
  position: absolute;
  left: 54vw;
  top: 30vh;
  width: 10vw;
}

.h1FullStackWeb {
  color: rgb(186, 255, 206);
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
}

.sectionDescricao {
  position: relative;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.7vw;
  top: -6vh;
  border: 0px solid black;
  width: 36vw;
}

.spanExperienciaFrontEnd {
  position: relative;
  top: 43vh;
  left: 2vw;
  font-family: "Quicksand", sans-serif;
  color: white;
  float: left;
}

.spanExperienciaBackEnd {
  position: relative;
  top: 43vh;
  left: 13vw;
  font-family: "Quicksand", sans-serif;
  color: white;
  border: 0px solid black;
  float: left;
}

.sectionBranco {
  position: relative;
  float: left;
  border: 0px solid black;
  width: 39.84%;
  height: 100%;
  text-align: center;
}

.h1Contactme {
  position: relative;
  left: 9vw;
  top: 20vh;
  border: 0px solid black;
  width: 22vw;
  color: rgba(0, 0, 63, 0.788);
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
}

.divEmail {
  position: relative;
  border: 0px solid black;
  width: 100%;
  text-align: center;
  top: 29vh;
  font-size: 1.8vw;
  color: gray;
  font-family: "Roboto", sans-serif;
}

.divWhatssap {
  position: relative;
  top: 39vh;
  font-size: 1.8vw;
  color: gray;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 980px) {
  body {
    margin: 0px;
  }
  .sectionAzul {
    background-color: rgba(0, 0, 63, 0.788);
    height: 60%;
    width: 100%;
    border: 0px solid black;
  }

  .headerNome {
    font-family: "Kanit", sans-serif;
    color: rgb(186, 255, 206);
    font-size: 10vw;
    width: 28vh;
    position: relative;
    left: 5vw;
    top: 5vh;
    border: 0px solid black;
  }

  .sectionNomeEDescricao {
    position: relative;
    text-align: center;
    top: 9vh;
    left: 2vw;
  }

  .imgFotoJunior {
    border: 0px dashed black;
    position: absolute;
    left: 36vw;
    top: 75vh;
    width: 28vw;
  }

  .h1FullStackWeb {
    color: rgb(186, 255, 206);
    font-family: "Roboto", sans-serif;
    font-size: 10vw;
  }

  .sectionDescricao {
    position: relative;
    color: white;
    font-family: "Roboto", sans-serif;
    border: 0px solid black;
    width: 95vw;
    font-size: calc(1.8vw + 1.8vh);
    top: 1vh;
    left: -2vw;
  }

  .spanExperienciaFrontEnd {
    display: none;
  }

  .spanExperienciaBackEnd {
    display: none;
  }

  .sectionBranco {
    position: relative;
    float: left;
    border: 0px solid black;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .h1Contactme {
    position: relative;
    left: 0vw;
    top: 45vh;
    border: 0px solid black;
    width: 100vw;
    color: rgba(0, 0, 63, 0.788);
    font-family: "Roboto", sans-serif;
    font-size: 12vw;
  }

  .divEmail {
    position: relative;
    border: 0px solid black;
    width: 100%;
    text-align: center;
    top: 49vh;
    font-size: 5.4vw;
    color: gray;
    font-family: "Roboto", sans-serif;
  }

  .divWhatssap {
    position: relative;
    top: 55vh;
    font-size: 5.4vw;
    color: gray;
    font-family: "Roboto", sans-serif;
  }
}
