
@media (min-width: 980px) {
body {
  margin: 0px;
}

.main{position:relative;}
.sectionAzul {
  float: left;
  background:linear-gradient(to bottom, rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788),  rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788),rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788),rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788),rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788),rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788),rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788),rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788),rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788),rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788),rgba(0, 0, 63, 0.788), rgba(0, 0, 63, 0.788),white); ;
  height: 100%;
  width: 60%;
  border: 0px solid black;
}

.headerNome {
  font-family: "Kanit", sans-serif;
  color: rgb(186, 255, 206);
  font-size: 4vw;
  width: 28vh;
  position: relative;
  left: 2vw;
  top: 5vh;
  border: 0px solid black;
}
.sectionNomeEDescricao {
  position: relative;
  top: 25vh;
  left: 2vw;
}

.imgFotoJunior {
  border: 0px dashed black;
  position: absolute;
  left: 54vw;
  top: 30vh;
  width: 10vw;
  z-index: 9999;
}

.h1FullStackWeb {
  color: rgb(186, 255, 206);
  font-family: "Roboto", sans-serif;
  font-size: 3.5vw;
}

.sectionDescricao {
  position: relative;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.7vw;
  top: -4vh;
  border: 0px solid black;
  width: 36vw;
}

.spanExperienciaFrontEnd {
  position: relative;
  top: 33vh;
  left: 2vw;
  font-family: "Quicksand", sans-serif;
  color: white;
  float: left;
}

.spanExperienciaBackEnd {
  position: relative;
  top: 33vh;
  left: 6vw;
  font-family: "Quicksand", sans-serif;
  color: white;
  border: 0px solid black;
  float: left;
}

.sectionBranco {
  position: relative;
  background:linear-gradient(to bottom,rgb(207, 207, 207),white);
  float: left;
  border: 0px solid black;
  width: 39.84%;
  height: 100%;
  text-align: center;
}

.h1Contactme {
  position: relative;
  left: 9vw;
  top: 20vh;
  border: 0px solid black;
  width: 22vw;
  color: rgba(0, 0, 63, 0.788);
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
}

.divEmail {
  position: relative;
  border: 0px solid black;
  width: 100%;
  text-align: center;
  top: 29vh;
  font-size: 1.8vw;
  color: gray;
  font-family: "Roboto", sans-serif;
}

.divWhatssap {
  position: relative;
  top: 39vh;
  font-size: 1.8vw;
  color: gray;
  font-family: "Roboto", sans-serif;
}

.minhasExperiencias{
  height: 100%;
  width:100%;
  border:0px solid black;
  position:absolute;
  top:100%;
}

.sectionMeusProjetosFrontend{
  position:relative;
  top:25vh;
  float: left;
  border-right: 1px solid gray;
  width:50%;
  height:50vh;
  text-align: center;
  
}

.h1MeusProjetosFrontend{
  position:relative;
  font-family: "Roboto", sans-serif;
  color:#4831d4;
  font-size:3vw;
  text-align: center;
}

.spanDescricaoTrabalhosFrontend{
  position:relative;
  left:13vw;
  top:0vh;
  font-family: Quicksand;
  font-size:2vw;
  border:0px solid black;
  display: block;
  width:22vw;
}
.svgButtonFrontend{
  cursor:pointer;
  position:relative;
  top:7vh;
  border:1px solid #4831d4;
  width:20vw;
  height:5vh;
}

.textFrontEnd{
  transition: fill 0.5s;
}

.svgButtonFrontend:hover .textFrontEnd{
  fill:white;
}


#fillRect {
  transition: width 0.5s;
  
}

svg:hover #fillRect {
  width: 100%;
}



.sectionMeusProjetosBackend{
  position:relative;
  float: left;
  top:25vh;
  border: 0px solid black;
  width:49%;
  text-align: center;  
}

.h1MeusProjetosBackend{
  position:relative;
  font-family: "Roboto", sans-serif;
  color:#4831d4;
  font-size:3vw;
  text-align: center;
}

.spanDescricaoTrabalhosBackend{
  position:relative;
  left:13vw;
  top:0vh;
  font-family: Quicksand;
  font-size:2vw;
  border:0px solid black;
  display: block;
  width:22vw;
}

.sectionSobreMim{
  position:absolute;
  background-image: linear-gradient(to bottom, #f1f1f1, white);
  top:190vh;
  width:100%;
  height:120%;
  border:0px solid black;
}

.h1AboutMe{
  position:relative;
  left:10vw;
  width:32vw;
  border:0px solid black;
  text-align: center;
  font-family: Roboto;
  font-size: 5vw;
  color:rgba(0, 0, 63, 0.788);
}
.spanDescricaoAboutme{
  position:relative;
  left:5vw;
  border:0px solid black;
  display:block;
  width:50vw;
  font-family:Quicksand;
  
  font-size:2vw;
  letter-spacing:0.3vw;
  color:#4831d4;
  }


.imgFotoJuniorSobreMim{
  position:absolute;
  left:60vw;
  top:15vh;
}


#idEmbaixoSobreMim{
  border:0px solid black;
  position:relative;
  background-color: gray;
  top:198vh;
  width:0.2vw;
  height:20vh
}

#footer{position:absolute;
  border:0px solid black;
  top:305vh;
  background-color: rgba(194, 194, 196, 0.788);
  height:22vh;
  width: 100%;
  text-align: center;
}

#iconeEmail{
  position:relative;
  left:-3vw;
  top:2vh;
  width:3.4vw;
}

#iconeWhatssap{
  position:relative;
  top:2.5vh;
  left:2vw;
  width:3.1vw;
}

#div-tell{
  position:relative;
  top:4vh;
  font-size: calc(1.3vw + 0.7vh);
  font-family: "Quicksand", sans-serif;
}

#div-copyright{
  position:relative;
  top:6vh;
  font-family: "Quicksand", sans-serif;
}

}

@media (max-width: 980px) {
  body {
    margin: 0px;
  }
  .sectionAzul {
    background: rgba(0, 0, 63, 0.788);
    height: 60%;
    width: 100%;
    border: 0px solid black;
  }

  .headerNome {
    font-family: "Kanit", sans-serif;
    color: rgb(186, 255, 206);
    font-size: 10vw;
    width: 28vh;
    position: relative;
    left: 5vw;
    top: 5vh;
    border: 0px solid black;
  }

  .sectionNomeEDescricao {
    position: relative;
    text-align: center;
    border:0px solid black;
    top: 9vh;
    left: 0vw;
  }

  .imgFotoJunior {
    border: 0px solid black;
    position: absolute;
    left: 36vw;
    top: 75vh;
    width: 28vw;
    z-index: 9999;
  }

  .h1FullStackWeb {
    color: rgb(186, 255, 206);
    font-family: "Roboto", sans-serif;
    font-size: 10vw;
  }

  .sectionDescricao {
    position: relative;
    color: white;
    font-family: "Roboto", sans-serif;
    border: 0px solid black;
    width: 100vw;
    font-size: calc(1.8vw + 1.8vh);
    top: -1vh;
    left: -2vw;
  }

  .spanExperienciaFrontEnd {
    display: none;
  }

  .spanExperienciaBackEnd {
    display: none;
  }

  .sectionBranco {
    position: relative;
    float: left;
    border: 0px solid black;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgb(240, 240, 240);;
  }

  .h1Contactme {
    position: relative;
    left: 0vw;
    top: 45vh;
    border: 0px solid black;
    width: 100vw;
    color: rgba(0, 0, 63, 0.788);
    font-family: "Roboto", sans-serif;
    font-size: 12vw;
  }

  .divEmail {
    position: relative;
    border: 0px solid black;
    width: 100%;
    text-align: center;
    top: 49vh;
    font-size: 5.4vw;
    color: gray;
    font-family: "Roboto", sans-serif;
  }

  .divWhatssap {
    position: relative;
    top: 55vh;
    font-size: 5.4vw;
    color: gray;
    font-family: "Roboto", sans-serif;
  }


  .minhasExperiencias{
    height: 100%;
    width:100%;
    border:0px solid black;
    position:absolute;
    top:150%;
  }
  
  .sectionMeusProjetosFrontend{
    position:relative;
    top:25vh;
    
    border: 0px solid gray;
    width:100%;
    height:40vh;
    text-align: center;
    
  }
  
  .h1MeusProjetosFrontend{
    position:relative;
    font-family: "Roboto", sans-serif;
    color:#4831d4;
    font-size:10vw;
    text-align: center;
  }
  #divSpanDescricaoTrabalhosFrontend{
    text-align: center;
  }

  .spanDescricaoTrabalhosFrontend{
    position:relative;
    top:0vh;
    font-family: Quicksand;
    font-size:7vw;
    border:1px solid black;
    display: block;
    width:80vw;
  }
  .svgButtonFrontend{
    cursor:pointer;
    position:relative;
    top:7vh;
    border:1px solid #4831d4;
    width:60vw;
    height:7vh;
  }
  
  .textFrontEnd{
    font-size: 7vw;
    position:relative;
    transform: translate(20vw, 1vh);
    transition: fill 0.5s;
  }
  
  .svgButtonFrontend:hover .textFrontEnd{
    fill:white;
  }
  
  
  #fillRect {
    transition: width 0.2s;
    
  }
  
  svg:hover #fillRect {
    width: 100%;
    height: 100%;
  }
  
  
  
  .sectionMeusProjetosBackend{
    position:relative;
    top:40vh;
    
    border: 0px solid gray;
    width:100%;
    height:40vh;
    text-align: center;
  }
  
  .h1MeusProjetosBackend{
    position:relative;
    font-family: "Roboto", sans-serif;
    color:#4831d4;
    font-size:10vw;
    text-align: center;
  }
  
  #divSpanDescricaoTrabalhosBackend{
    text-align: center;
    border: 1px solid black;
  }

  .spanDescricaoTrabalhosBackend{
    position:relative;
    top:0vh;
    font-family: Quicksand;
    font-size:7vw;
    border:0px solid black;
    display: block;
    width:80vw;
  }

 


  .sectionSobreMim{
    position:absolute;
    
    top:290vh;
    width:100%;
    height:80%;
    background-image: linear-gradient(to bottom, #f1f1f1, white);
    border:0px solid black;
  }
  
  .h1AboutMe{
    width:30vw;
    position:relative;
    border:0px solid black;
    left:9.6vw;
    font-family: Roboto;
    font-size: 8vw;
    display: block;
    color:rgba(0, 0, 63, 0.788);
  }
  .spanDescricaoAboutme{
    position:relative;
    left:5vw;
    border:0px solid black;
    display:block;
    width:55vw;
    font-family:Quicksand;
    
    font-size:4vw;
    letter-spacing:0.3vw;
    color:#4831d4;
    }
  
  
  .imgFotoJuniorSobreMim{
    position:absolute;
    height:30vh;
    left:60vw;
    top:24vh;
  }
  
  #idEmbaixoSobreMim{
    display: none;
  }

  #footer{position:absolute;
    border:0px solid black;
    top:390vh;
    background-color: rgba(194, 194, 196, 0.788);
    height:28vh;
    text-align: center;
  }
  
  #iconeEmail{
    position:relative;
    left:-5vw;
    top:2vh;
    width:12.4vw;
  }
  
  #iconeWhatssap{
    position:relative;
    top:2.5vh;
    left:7vw;
    width:11.1vw;
  }
  
  #div-tell{
    border: 0px solid black;
    position:relative;
    top:5.5vh;
    font-size: calc(2.3vw + 1.7vh);
    font-family: "Quicksand", sans-serif;
  }
  
  #div-copyright{
    width: 100vw;
    border:1px solid black;
    position:relative;
    top:10vh;
    font-family: "Quicksand", sans-serif;
    font-size: calc(1.8vw + 1.2vh);
  }



}
