
@media (max-width: 424px) {
    
    #svg-letras{
        transform: scale(2)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(23vw,7vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(18vw,25vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(17vw,15vh) ;
        stroke:"yellow";
        fill:"green"
    }
}

@media (min-width: 424px) and (max-width: 576px) {

    #svg-letras{
        transform: scale(1.4)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(10vw,8vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(10vw,25vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(13vw,15vh) ;
        stroke:"yellow";
        fill:"green"
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #svg-letras{
        transform: scale(1.4)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(5vw,25vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(9vw,25vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(12vw,28vh) ;
        stroke:"yellow";
        fill:"green"
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    #svg-letras{
        transform: scale(1)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(1.1vw,20vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(7vw,19vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(12vw,22vh) ;
        stroke:"yellow";
        fill:"green"
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    #svg-letras{
        transform: scale(1)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(0vw,19vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(4vw,20vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(9vw,20vh) ;
        stroke:"yellow";
        fill:"green"
    }
}

@media (max-width: 1024px) and (min-height: 1200px) {
    #svg-letras{
        transform: scale(1.9)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(7vw,5vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(4vw,13vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(7vw,9vh) ;
        stroke:"yellow";
        fill:"green"
    }
}

@media (min-width: 1200px) and (min-height:529px) {

    #svg-letras{
        transform: scale(1.2)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(2vw,22vh);
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(6vw,24vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(9vw,25vh) ;
        stroke:"yellow";
        fill:"green"
    }
}


@media (min-width: 1200px) and (min-height:620px) {
    #svg-letras{
        transform: scale(1.2)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(2vw,20vh);
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(6vw,20vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(9vw,22vh) ;
        stroke:"yellow";
        fill:"green"
    }
}




@media (min-width: 1200px) and (min-height:900px) {
    #svg-letras{
        transform: scale(1.2)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(2vw,13vh);
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(6vw,13vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(9vw,14vh) ;
        stroke:"yellow";
        fill:"green"
    }
}




@media (min-width: 600px) and (min-height:980px){
    #svg-letras{
        transform: scale(2)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(11vw,6vh);
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(5vw,17vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(10vw,13vh) ;
        stroke:"yellow";
        fill:"green"
    }
}

@media (min-width: 1300px) and (min-height:900px) {
    #svg-letras{
        transform: scale(1.1)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(2vw,7vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(5vw,17vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(10vw,8vh) ;
        stroke:"yellow";
        fill:"green"
    }
}

@media (min-width: 1440px) and (min-height:485px) {
       #svg-letras{
        transform: scale(1.2)
    }

    #svg-letra-s-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(1vw,25vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-m-fundo{
        transition: transform 3.3s ease-in-out;
        transform:translate(5vw,25vh) ;
        stroke:"yellow";
        fill:"green"
    }

    #svg-letra-d-fundo{
        transition: transform 2.3s ease-in-out;
        transform:translate(9.2vw,29vh) ;
        stroke:"yellow";
        fill:"green"
    } 
}


@keyframes girarAntiHorario {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-15deg);
    }
  
    100% {
      transform: rotate(0deg);
    }

}
