

@media (max-width: 424px) {
  #svg-letras {
    transform: scale(2);
  }

  #svg-letra-s-fundo {
    transition: transform 2.3s ease-in-out;
    transform: translate(23vw, 18vw);
    stroke: "yellow";
    fill: "green";
  }

  #svg-letra-m-fundo {
    transition: transform 3.3s ease-in-out;
    transform: translate(18vw, 55vw);
    stroke: "yellow";
    fill: "green";
  }

  #svg-letra-d-fundo {
    transition: transform 2.3s ease-in-out;
    transform: translate(17vw, 39vw);
    stroke: "yellow";
    fill: "green";
  }

  #div-title-meus-projetos {
    font-size: 12vw;
    font-family: "Roboto";
    color: rgb(100, 97, 97);
    position: relative;
    top: 10vh;
  }

  #div-card-prisioner {
    border: 0px solid black;
    width: 60vw;
    height: 105vw;
    left: 20vw;
    position: relative;
    top:30vw;
    
  }

  #div-card-ma-consultoria {
    border: 0px solid black;
    width: 60vw;
    height: 90vw;
    left: 20vw;
    top:40vw;
    position: relative;
  }

  #title-card-prisioner-control {
    font-size: 7vw;
  }

  #text-card-prisioner-control {
    font-size: calc(6vw);
  }


  #title-card-ma-consultoria {
    font-size: 7vw;
  }

  #text-card-ma-consultoria {
    font-size: calc(6vw);
  }

  

  #container-parte-5 {
    position: relative;
    top: 90vw;
    height: 80vw;
    border: 0px solid green;
    width: 100vw;
    z-index:2
  }

  #svg-logo-carregada-rodape {
    position: relative;
    top: 3vw;
    left: 2vw;
    height: 20vw;
    width: 27vw;

    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 5vw;
    font-size: 3.8vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 8vw;
    left: 3vw;
    font-size: 3.4vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 27vw;
    top: 1vw;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 11vw;
    font-family: "Titillium Web", sans-serif;
    font-size: 3.2vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 3vw;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 4.9vw;
    border: 0px solid black;
    width:41vw;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 8vw;

  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 5vw;
    font-size: 4vw;
    border:0px solid black;
    width:40vw;
  }

  

 


  
  #menu-hamburger{
    position:relative;
    left:-2vw;
    font-size:10vw;
  }


  #menu {
    top: 3vw;
    left: 52vw;
    width: 51.4vw;
    height: 40vw;
    position:absolute;
  }


  #li-home {
    position: relative;
    top: -3vw;
    left:-5vw;
    border:0px solid black;
    width:15vw;
    color: rgb(94, 94, 187);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
  }

  #li-projetos {
    position: relative;
    top: 10vw;
    left:-5vw;
    color: rgb(61, 61, 119);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
  }

  #icon-fechar-menu {
    left: 41vw;
    font-size:6vw;
  }
}

@media (min-width: 424px) and (max-width: 576px) {
  #svg-letras {
    transform: scale(1.4);
  }

  #svg-letra-s-fundo {
    transition: transform 2.3s ease-in-out;
    transform: translate(10vw, 8vh);
    stroke: "yellow";
    fill: "green";
  }

  #svg-letra-m-fundo {
    transition: transform 3.3s ease-in-out;
    transform: translate(10vw, 25vh);
    stroke: "yellow";
    fill: "green";
  }

  #svg-letra-d-fundo {
    transition: transform 2.3s ease-in-out;
    transform: translate(13vw, 15vh);
    stroke: "yellow";
    fill: "green";
  }

  #div-title-meus-projetos {
    font-size: 28pt;
    font-family: "Roboto";
    color: rgb(100, 97, 97);
    position: relative;
    top: 10vh;
  }

  #div-card-prisioner {
    border: 0px solid black;
    width: 55vw;
    height: 70vw;
    left: 23vw;
    top:30vw;
    position: relative;
  }

  #div-card-ma-consultoria {
    border: 0px solid black;
    width: 55vw;
    height: 70vw;
    left: 23vw;
    top:40vw;
    position: relative;
  }

  #title-card-prisioner-control {
    font-size: calc(4.9vw + 0vh);
  }

  #text-card-prisioner-control {
    font-size: calc(4.8vw + 0vh);
  }

  #title-card-ma-consultoria {
    font-size: calc(4.9vw + 0vh);
  }

  #text-card-ma-consultoria {
    font-size: calc(4.8vw + 0vh);
  }

  

  #menu {
    top: -2vw;
    left: -30vw;
    width: 51.4vw;
    height: 40vw;
  }

  #li-home {
    position: relative;
    top: -3vw;
    left:-5vw;
    color: rgb(94, 94, 187);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
  }

  #li-projetos {
    position: relative;
    top: 10vw;
    left:-5vw;
    color: rgb(61, 61, 119);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
  }

  #icon-fechar-menu {
    left: 41vw;
    font-size:7vw;
  }

  #menu {
    top: 3vw;
    left: 52vw;
    width: 51.4vw;
    height: 40vw;
    position:absolute;
  }

  #li-home {
    position: relative;
    top: -3vw;
    left:-5vw;
    border:0px solid black;
    width:15vw;
    color: rgb(94, 94, 187);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
  }


  #li-projetos {
    position: relative;
    top: 10vw;
    left:-5vw;
    color: rgb(61, 61, 119);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
  }

  #icon-fechar-menu {
    left: 41vw;
    font-size:7vw;
  }


  #container-parte-5 {
    position: relative;
    top: 90vw;
    height: 80vw;
    border: 0px solid green;
    width: 100vw;
    z-index:2
  }

  #svg-logo-carregada-rodape {
    position: relative;
    top: 3vw;
    left: 2vw;
    height: 20vw;
    width: 27vw;

    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 5vw;
    font-size: 4vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 8vw;
    left: 3vw;
    font-size: 3.4vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 29vw;
    top: 1vw;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 11vw;
    font-family: "Titillium Web", sans-serif;
    font-size: 3.2vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 12vw;
    top: 3vw;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 12vw;
    top: 4.9vw;
    border: 0px solid black;
    width:38vw;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 8vw;

  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 10vw;
    font-size: 4vw;
    border:0px solid black;
    width:40vw;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #svg-letras {
    transform: scale(1.4);
  }

  #svg-letra-s-fundo {
    transition: transform 2.3s ease-in-out;
    transform: translate(5vw, 25vh);
    stroke: "yellow";
    fill: "green";
  }

  #svg-letra-m-fundo {
    transition: transform 3.3s ease-in-out;
    transform: translate(9vw, 25vh);
    stroke: "yellow";
    fill: "green";
  }

  #svg-letra-d-fundo {
    transition: transform 2.3s ease-in-out;
    transform: translate(12vw, 28vh);
    stroke: "yellow";
    fill: "green";
  }

  #div-title-meus-projetos {
    font-size: 39pt;
    font-family: "Roboto";
    color: rgb(100, 97, 97);
    position: relative;
    top: 10vh;
  }

  #div-card-prisioner {
    border: 0px solid black;
    width: 51vw;
    height: 55vw;
    left: 25vw;
    top:20vw;
    position: relative;
  }

  #div-card-ma-consultoria {
    border: 0px solid black;
    width: 51vw;
    height: 55vw;
    left: 25vw;
    top:20vw;
    position: relative;
  }

  #title-card-prisioner-control {
    font-size: calc(4.9vw + 0vh);
  }

  #text-card-prisioner-control {
    font-size: calc(4.2vw + 0vh);
  }

  #title-card-ma-consultoria {
    font-size: calc(4.9vw + 0vh);
  }

  #text-card-ma-consultoria {
    font-size: calc(4.2vw + 0vh);
  }


  #menu {
    top: -1vw;
    left: -27vw;
    width: 51.4vw;
    height: 40vw;
  }

  #li-home {
    position: relative;
    top: 4vw;
    left:0vw;
    color: rgb(94, 94, 187);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 4vw;
  }

  #li-projetos {
    position: relative;
    top: 11vw;
    left:0vw;
    color: rgb(61, 61, 119);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 4vw;
  }

  #icon-fechar-menu {
    left: 41vw;
    font-size:6vw;
  }

  #menu {
    top: 3vw;
    left: 52vw;
    width: 51.4vw;
    height: 40vw;
    position:absolute;
  }

  #li-home {
    position: relative;
    top: 1vw;
    left:-2vw;
    border:0px solid black;
    width:15vw;
    color: rgb(94, 94, 187);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
  }

  #li-projetos {
    position: relative;
    top: 12vw;
    left:-2vw;
    color: rgb(61, 61, 119);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
  }

  #icon-fechar-menu {
    left: 41vw;
    font-size:6vw;
  }

  #container-parte-5 {
    position: relative;
    top: 50vw;
    height: 80vw;
    border: 0px solid green;
    width: 100vw;
    z-index:2
  }

  #svg-logo-carregada-rodape {
    position: relative;
    top: 3vw;
    left: 2vw;
    height: 20vw;
    width: 27vw;

    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 5vw;
    font-size: 4vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 8vw;
    left: 3vw;
    font-size: 3.4vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 29vw;
    top: 1vw;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 11vw;
    font-family: "Titillium Web", sans-serif;
    font-size: 3.2vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 12vw;
    top: 3vw;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 12vw;
    top: 4.9vw;
    border: 0px solid black;
    width:38vw;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 8vw;

  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 10vw;
    font-size: 4vw;
    border:0px solid black;
    width:40vw;
  }


}

@media (min-width: 768px) and (max-width: 992px) {
  #svg-letras {
    transform: scale(1);
  }

  #svg-letra-s-fundo {
    transition: transform 2.3s ease-in-out;
    transform: translate(1.1vw, 20vh);
    stroke: "yellow";
    fill: "green";
  }

  #svg-letra-m-fundo {
    transition: transform 3.3s ease-in-out;
    transform: translate(7vw, 19vh);
    stroke: "yellow";
    fill: "green";
  }

  #svg-letra-d-fundo {
    transition: transform 2.3s ease-in-out;
    transform: translate(12vw, 22vh);
    stroke: "yellow";
    fill: "green";
  }

  #div-title-meus-projetos {
    font-size: 39pt;
    font-family: "Roboto";
    color: rgb(100, 97, 97);
    position: relative;
    top: 10vh;
  }


  #div-card-ma-consultoria{
    position:relative;
    top:15vw;
    left:10vw;
    border: 0px solid black;
    width: 31vw;
    height: 52vw;
    
  }

  #div-card-prisioner {
    border: 0px solid black;
    width: 31vw;
    height: 52vw;
    top:15vw;
    left:12vw;
    position: relative;
  }

  #title-card-prisioner-control {
    position: relative;
    top: 1vh;
    
    font-size: 3.7vw;
  }

  #text-card-prisioner-control {
    position: relative;
    top: 2vh;
    font-size: 3.1vw;
  }

  #title-card-ma-consultoria {
    font-size: 3.7vw ;
  }

  #text-card-ma-consultoria {
    position: relative;
    top: 1vh;
    font-size: 3.1vw;
  }

 
  #menu-hamburger{
    left:0vw;
    font-size: 6vw;
    
  }
  #menu {
    top: 0vw;
    left: 59.3vw;
    width: 40.4vw;
    height: 30vw;
    position:absolute;
  }

  #li-home {
    position: relative;
    top: 1vw;
    left:0vw;
    border:0px solid black;
    width:15vw;
    color: rgb(94, 94, 187);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 3vw;
  }

  #li-projetos {
    position: relative;
    top: 10vw;
    left:0vw;
    color: rgb(61, 61, 119);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 3vw;
  }

  #icon-fechar-menu {
    left: 31vw;
    font-size:6vw;
  }

  #container-parte-5 {
    position: relative;
    top: 40vw;
    height: 80vw;
    border: 0px solid green;
    width: 100vw;
    z-index:2
  }

  #svg-logo-carregada-rodape {
    position: relative;
    top: 3vw;
    left: 2vw;
    height: 20vw;
    width: 27vw;

    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 5vw;
    font-size: 4vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 8vw;
    left: 3vw;
    font-size: 3.4vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 32vw;
    top:-2vw;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 11vw;
    font-family: "Titillium Web", sans-serif;
    font-size: 3.2vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 15vw;
    top: 1vw;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 15vw;
    top: 3.9vw;
    border: 0px solid black;
    width:38vw;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 8vw;

  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 10vw;
    font-size: 4vw;
    border:0px solid black;
    width:40vw;
  }
}

@media (min-width: 992px) {
  #svg-letras {
    transform: scale(1);
  }

  #svg-letra-s-fundo {
    transition: transform 2.3s ease-in-out;
    transform: translate(0vw, 19vh);
    stroke: "yellow";
    fill: "green";
  }

  #svg-letra-m-fundo {
    transition: transform 3.3s ease-in-out;
    transform: translate(4vw, 20vh);
    stroke: "yellow";
    fill: "green";
  }

  #svg-letra-d-fundo {
    transition: transform 2.3s ease-in-out;
    transform: translate(9vw, 20vh);
    stroke: "yellow";
    fill: "green";
  }

  #div-title-meus-projetos {
    font-size: 39pt;
    font-family: "Roboto";
    color: rgb(100, 97, 97);
    position: relative;
    top: 10vh;
  }

  #div-card-ma-consultoria{
    position:relative;
    top:15vw;
    left:10vw;
    border: 0px solid black;
    width: 31vw;
    height: 50vw;
    
  }

  #div-card-prisioner {
    border: 0px solid black;
    width: 31vw;
    height: 50vw;
    top:15vw;
    left:12vw;
    position: relative;
  }


  #title-card-prisioner-control {
    position: relative;
    top: 1vh;
    font-size: 4vw;
  }

  #text-card-prisioner-control {
    position: relative;
    top: 1vw;
    font-size: 3.2vw
  }

  #title-card-ma-consultoria {
    font-size: 4vw;
  }

  #text-card-ma-consultoria {
    position: relative;
    top: 1vh;
    font-size: 3vw;
  }

  #menu-hamburger{
    left:-3vw;
    top:2vw;
    font-size: 4vw;
    
  }
  #menu {
    top: 0vw;
    left: 59.3vw;
    width: 40.4vw;
    height: 30vw;
    position:absolute;
  }

  #li-home {
    position: relative;
    top: 1vw;
    left:0vw;
    border:0px solid black;
    width:15vw;
    color: rgb(94, 94, 187);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 3vw;
  }

  #li-projetos {
    position: relative;
    top: 10vw;
    left:0vw;
    color: rgb(61, 61, 119);
    text-decoration: overline;
    font-family: "Open Sans", sans-serif;
    font-size: 3vw;
  }

  #icon-fechar-menu {
    left: 31vw;
    font-size:6vw;
  }

  #container-parte-5 {
    position: relative;
    top: 30vw;
    z-index:9999;
    height: 58vw;
    border: 0px solid green;
    width: 100vw;
  }

  #svg-logo-carregada-rodape {
    position: relative;
    top: 0vw;
    left: 2vw;
    height: 20vw;
    width: 15vw;

    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 0vw;
    font-size: 3.8vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 2vw;
    left: 3vw;
    font-size: 3.4vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 32vw;
    top: 1vw;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 5vw;
    font-family: "Titillium Web", sans-serif;
    font-size: 3.2vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 15vw;
    top: 3vw;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 15vw;
    top: 4.9vw;
    border: 0px solid black;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 4vw;

  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 3vw;
    font-size: 3vw;
  }
}



@keyframes girarAntiHorario {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
