@media (max-width: 424px) {
  .svg-logo-celular-carregada {
    width: 21vw;
    height: 12vh;
    fill: white;
  }
  .svg-letra-s-celular {
    border: 0px solid green;
    opacity: 0.07;
    width: 100%;
    height: 100%;
  }
  .svg-letra-m-celular {
    border: 0px solid green;
    opacity: 0.09;
    width: 85%;
    height: 100%;
  }
  .svg-letra-d-celular {
    border: 0px solid green;
    opacity: 0.09;
    width: 85%;
    height: 100%;
  }

  .div-row-letra-d-xs {
    position: relative;
    top: 20vh;
  }

  #container-parte-1 {
  height:170vw;
  border:0px solid black;
  }


  #container-parte-2 {
    
    top: 22vw;
  }

  #container-parte-3 {
    top: 65vw;
    border: 0px solid black;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 104vw;
  }

  #container-parte-5 {
    position: relative;
    top: 140vw;
    height: calc(30vh + 15vw);
  }

  #svg-logo-carregada-rodape {
    position: relative;
    top: 3vh;
    left: 2vw;
    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 3vh;
    font-size: 3.4vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 4vh;
    left: 3vw;
    font-size: 2.8vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 27vw;
    top: 1vh;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 4vh;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.8vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2vh;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2.9vh;
    border: 0px solid black;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 3vh;
  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 2vh;
    font-size: 3vw;
  }
}

@media (min-width: 424px) and (max-width: 576px) {
  .svg-logo-celular-carregada {
    width: 21vw;
    height: 12vh;
    fill: white;
  }
  .svg-letra-s-celular {
    border: 0px solid green;
    opacity: 0.07;
    width: 100%;
    height: 100%;
  }
  .svg-letra-m-celular {
    border: 0px solid green;
    opacity: 0.09;
    width: 85%;
    height: 100%;
  }
  .svg-letra-d-celular {
    border: 0px solid green;
    opacity: 0.09;
    width: 85%;
    height: 100%;
  }

  .div-row-letra-d-xs {
    position: relative;
    top: 20vh;
  }

  #container-parte-1{
    border:0px solid black;
    height:100vw;
  }

  #container-parte-2 {
    top: 70vw;
  }

  #container-parte-3 {
    top: 110vw;
    border: 0px solid black;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 150vw;
  }

  #container-parte-5 {
    position: relative;
    top: 180vw;
    height: calc(63vw);
  }

  #svg-logo-carregada-rodape {
    position: relative;
    top: 3vw;
    height:20vw;
    left: 2vw;
    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 3vh;
    font-size: 3.4vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 4vh;
    left: 3vw;
    font-size: 2.8vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 27vw;
    top: 1vh;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 4vh;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.8vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2vh;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2.9vh;
    border: 0px solid black;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 3vh;
  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 2vh;
    font-size: 3vw;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .svg-logo-celular-carregada {
    width: 21vw;
    height: 12vh;
    fill: white;
  }

  .svg-letra-s-celular {
    border: 0px solid green;
    opacity: 0.09;
    width: 100%;
    height: 70%;
  }
  .svg-letra-m-celular {
    border: 0px solid green;
    opacity: 0.09;
    width: 85%;
    height: 80%;
  }
  .svg-letra-d-celular {
    border: 0px solid green;
    opacity: 0.09;
    width: 40%;
    height: 100%;
  }

  .div-row-letra-d-sm {
    position: relative;
    top: -0vh;
  }

  #container-parte-2 {
    top: 40vw;
  }
  #container-parte-3 {

    top: 95vh;
    border: 0px solid black;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 129vh;
  }

  #container-parte-5 {
    position: relative;
    top: 250vw;
    height: calc(60vw + 0vh);
  }

  #svg-logo-carregada-rodape {
    position: relative;
    top: 3vh;
    left: 2vw;
    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 3vh;
    font-size: 3.4vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 4vh;
    left: 3vw;
    font-size: 2.8vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 27vw;
    top: 1vh;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 4vh;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.8vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2vh;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2.9vh;
    border: 0px solid black;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 3vh;
  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 2vh;
    font-size: 3vw;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .svg-logo-celular-carregada {
    width: 21vw;
    height: 12vh;
    fill: white;
  }

  .svg-letra-s-desktop {
    border: 0px solid green;
    opacity: 0.09;
    width: 40%;
    height: 100%;
  }

  .svg-letra-m-desktop {
    border: 0px solid green;
    opacity: 0.09;
    width: 40%;
    height: 100%;
  }

  .svg-letra-d-desktop {
    border: 0px solid green;
    opacity: 0.09;
    width: 40%;
    height: 100%;
  }

  .div-row-letra-d-md {
    position: relative;
    top: 10vw;
  }

  #container-parte-1{
    height:90vw;
    border:0px solid black
  }

  #container-parte-2 {
    top: 0vw;
  }

  #container-parte-3 {
    top: 20vw;
    border: 0px solid black;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 45vw;
  }

  #container-parte-5 {
    position: relative;
    top: 70vw;
    height: calc(50vw);
  }


  #svg-logo-carregada-rodape {
    width: 20vw;
    height: calc(13vw);
    position: relative;
    top: 3vh;
    left: 2vw;
    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 3vh;
    font-size: 3.4vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 4vh;
    left: 3vw;
    font-size: 2.8vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 27vw;
    top: 1vh;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 4vh;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.8vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2vh;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2.9vh;
    border: 0px solid black;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 3vh;
  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 2vh;
    font-size: 3vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .svg-logo-celular-carregada {
    width: 21vw;
    height: 12vh;
    fill: white;
  }

  .svg-letra-s-desktop {
    border: 0px solid green;
    opacity: 0.09;
    width: 40%;
    height: 100%;
  }

  .svg-letra-m-desktop {
    border: 0px solid green;
    opacity: 0.09;
    width: 40%;
    height: 100%;
  }

  .svg-letra-d-desktop {
    border: 0px solid green;
    opacity: 0.09;
    width: 40%;
    height: 100%;
  }

  .div-row-letra-d-lg {
    border: 0px solid black;
    position: relative;
    top: 5vh;
  }

  #container-parte-2 {
    top: 32vh;
  }

  #container-parte-3 {
    top: 55vh;
    border: 0px solid black;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 75vh;
  }

  #container-parte-5 {
    position: relative;
    top: 95vh;
    height: calc(39vh + 24vw);
  }


  #svg-logo-carregada-rodape {
    width: 20vw;
    height: calc(10vh + 3vw);
    position: relative;
    top: 3vh;
    left: 2vw;
    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 3vh;
    font-size: 3.4vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 4vh;
    left: 3vw;
    font-size: 2.8vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 27vw;
    top: 1vh;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 4vh;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.8vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2vh;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2.9vh;
    border: 0px solid black;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 3vh;
  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 2vh;
    font-size: 3vw;
  }
}

@media (min-width: 1080px) {
  #div-todas-as-partes {
    overflow: hidden;
    height: 100vh;
  }
  #container-parte-5 {
    border: 0px solid black;
    position: relative;
    top: 110vh;
    height:100vh 
  }

  #svg-logo-carregada-rodape {
    width: 20vw;
    height: calc(10vh + 3vw);
    position: relative;
    top: 17vh;
    left: 2vw;
    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 20vh;
    font-size: 3.4vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 25vh;
    left: 3vw;
    font-size: 2.8vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 27vw;
    top: 20vh;
    border: 0px solid black;
    
  }
  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 26vh;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.8vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 20vh;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 19.9vh;
    border: 0px solid black;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 25vh;
  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 25vh;
    font-size: 3vw;
  
}

@media (min-width: 1200px) {
  .svg-logo-celular-carregada {
    width: 21vw;
    height: 12vh;
    fill: white;
  }

  .svg-letra-s-desktop {
    border: 0px solid green;
    opacity: 0.09;
    height: 100%;
    width: 40%;
  }

  .svg-letra-m-desktop {
    border: 0px solid green;
    opacity: 0.09;
    width: 40%;
    height: 100%;
  }

  .svg-letra-d-desktop {
    border: 0px solid green;
    opacity: 0.09;
    width: 40%;
    height: 110%;
  }

  .div-row-letra-d-xl {
    position: relative;
    top: -5vh;
  }


  #div-todas-as-partes {
    overflow: hidden;
    height: 100vh;
  }

  #container-parte-2 {
    top: 24vw;
  }


  #container-parte-3 {
    top: 40vw;
    border: 0px solid black;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 115vh;
  }

  #container-parte-5 {
    position: relative;
    border:0px solid green;  
    top: 140vh;
    height: 100vh;
  }

  #svg-logo-carregada-rodape {
    width: 20vw;
    height: calc(15vh + 5vw);
  }
  #svg-logo-carregada-rodape {
    position: relative;
    top: 3vh;
    left: 2vw;
    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 3vh;
    font-size: 3.4vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 4vh;
    left: 3vw;
    font-size: 2.8vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 27vw;
    top: 1vh;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 4vh;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.8vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2vh;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 10vw;
    top: 2.9vh;
    border: 0px solid black;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 3vh;
  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 2vh;
    font-size: 3vw;
  }
}

@media (min-width: 390px) and (min-height: 706px) {
  #container-parte-2 {
    top: 20vh;
  }
  #container-parte-3 {
    top: 40vh;
    border: 0px solid black;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 63vh;
  }

  #container-parte-5 {
    position: relative;
    top: 85vh;
    height: calc(100vh);
  }
}

@media (min-width: 480px) and (min-height: 820px) {
  
  #link-topo-sobre-mim{
    font-size:2vw;
    position:relative;
    left:0vw;
  }
  
  #link-topo-meus-projetos{
    font-size: 2vw;
    position:relative;
    left:1vw;
  }

  #link-topo-contate-me{
    font-size: 2vw;
    position:relative;
    left:2vw;
  }

  #link-topo-rodape{
    font-size:2vw;
    position:relative;
    left:3vw;
  }

  #h1-desenvolvedor-web-full-stack{
    font-size:5vw;
  }

  #h3-websites-responsivos-e-dinamicos{
    font-size:2.5vw;
  }

  #container-parte-2 {
    top: 15vw;
    
  }


  #h1-minha-historia{
    font-size:3vw;
  }

  #texto-minha-historia{
    font-size:2.3vw !important;
  }

  #container-parte-3 {
    top: 25vw;
    border: 0px solid black;
  }

  #h1-projetos-frontend{
    font-size:6vw !important;
  }

  #div-text-projetos-frontend{
    font-size:2.5vw !important;
  }

  #svg-button-frontend text{
    font-size:2vw !important;
  }

  #h1-projetos-backend{
    font-size:6vw !important;
  }

  #div-text-projetos-backend{
    font-size:2.5vw !important;
  }

  #svg-button-backend text{
    font-size:2vw !important;
  }
  

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 51vw;
  }

  #div-input-nome{
    font-size:2.2vw !important;
  }

  #div-input-email{
    font-size:2.2vw !important;
  }

  #text-area-mensagem{
    font-size:2vw;
  }

  #buttonEnviarMensagem{
    width:10vw;
    height:3vw;
    font-size:1.6vw;
  }

  #container-parte-5 {
    position: relative;
    top: 105vh;
    height: calc(100vh);
  }
}

@media (min-width: 600px) and (min-height: 900px) {
  #container-parte-2 {
    top: 0vh;
  }

  #container-parte-3 {
    top: 15vh;
    border: 0px solid black;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 35vh;
  }
  #container-parte-5 {
    position: relative;
    top: 55vh;
    height: calc(100vh);
  }
}

@media (min-width: 800px) and (min-height: 1024px) {
  #container-parte-2 {
    top: -18vh;
  }

  #container-parte-3 {
    top: 0vh;
    border: 0px solid black;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 19vh;
  }
  #container-parte-5 {
    position: relative;
    top: 55vh;
    height: calc(22vh + 29vw);
  }
}

@media (min-width: 820px) and (min-height: 1024px) {
  #container-parte-2 {
    top: 0vh;
  }

  #container-parte-3 {
    top: 15vh;
    border: 0px solid black;
  }
}

@media (min-width: 912px) and (min-height: 1024px) {
  #container-parte-2 {
    top: -15vh;
  }

  #container-parte-3 {
    top: 5vh;
    border: 0px solid black;
  }

  #container-parte-4 {
    top: 25vh;
    border: 0px solid black;
  }

  #container-parte-5 {
    position: relative;
    top: 45vh;
    height: calc(22vh + 29vw);
  }
}

@media (min-width: 1024px)  and (min-height: 1024px) {
  #link-topo-sobre-mim{
    font-size:2vw;
    position:relative;
    left:0vw;
  }
  
  #link-topo-meus-projetos{
    font-size: 2vw;
    position:relative;
    left:1vw;
  }

  #link-topo-contate-me{
    font-size: 2vw;
    position:relative;
    left:2vw;
  }

  #link-topo-rodape{
    font-size:2vw;
    position:relative;
    left:3vw;
  }

  #h1-desenvolvedor-web-full-stack{
    font-size:5vw;
  }

  #h3-websites-responsivos-e-dinamicos{
    font-size:2.5vw;
  }

  #container-parte-2 {
    top: 15vw;
    
  }


  #h1-minha-historia{
    font-size:3vw;
  }

  #texto-minha-historia{
    font-size:2vw !important;
  }

  #container-parte-3 {
    top: 35vw;
    border: 0px solid black;
  }

  #h1-projetos-frontend{
    font-size:6vw !important;
  }

  #div-text-projetos-frontend{
    font-size:2.5vw !important;
  }

  #svg-button-frontend text{
    font-size:2vw !important;
  }

  #h1-projetos-backend{
    font-size:6vw !important;
  }

  #div-text-projetos-backend{
    font-size:2.5vw !important;
  }

  #svg-button-backend text{
    font-size:2vw !important;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 40vw;
  }

  #div-input-nome{
    font-size:2.2vw !important;
  }

  #div-input-email{
    font-size:2.2vw !important;
  }

  #text-area-mensagem{
    font-size:2vw;
  }

  #buttonEnviarMensagem{
    width:10vw;
    height:3vw;
    font-size:1.6vw;
  }

  #container-parte-5 {
    position: relative;
    top: 54vw;
    height: calc(100vh);
  }

  

  #svg-logo-carregada-rodape {
    position: relative;
    width:20vw;
    height:10vw;
    top: 0vw;
    left: 2vw;
    border: 0px solid yellow;
  }

  #div-envie-me-uma-mensagem {
    position: relative;
    left: 3vw;
    top: 0vw;
    font-size: 4.4vw;
    width: 50vw;
    border: 0px solid black;
  }

  #div-email-rodape {
    position: relative;
    top: 5vw;
    left: 3vw;
    font-size: 3.8vw;
    border: 0px solid black;
  }

  #div-home-rodape {
    font-size: 4vw;
    position: relative;
    left: 36.2vw;
    top: 0vw;
    border: 0px solid black;
  }

  #div-telefone-rodape {
    position: relative;
    left: 3vw;
    top: 8vw;
    font-family: "Titillium Web", sans-serif;
    font-size: 3.8vw;
    color: rgb(200, 255, 203);
    border: 0px solid rgb(166, 255, 154);
  }

  #div-sobre-mim-rodape {
    font-size: 4vw;
    position: relative;
    left: 19.5vw;
    top: 2vw;
    border: 0px solid black;
  }

  #div-meus-trabalhos-rodape {
    font-size: 4vw;
    position: relative;
    left: 19.5vw;
    top: 3vw;
    border: 0px solid black;
  }

  #div-pai-div-hr-rodape {
    position: relative;
    top: 5vw;
  }

  #div-copyright-rodape {
    position: relative;
    left: 3vw;
    top: 5vw;
    font-size: 4vw;
  }
  
}

@media (min-height: 260px) and (max-width:1080px) and (orientation: landscape) {
  #container-parte-2 {
    top: 95vh;
  }
  #container-parte-3 {
    top: 130vh;
    border: 0px solid black;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 170vh;
  }
   #container-parte-5 {
    position: relative;
    top: 210vh;
    height: calc(40vh + 27vw);
  } 
}

@media (min-height: 360px) and (max-width:1080px){
  #container-parte-2 {
    position:relative;
    top: 60vh; 
  }
  #container-parte-3 {
    top: 80vh;
    border: 0px solid black;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 115vh;
  }

   #container-parte-5 {
    position: relative;
    top: 145vh;
    height: calc(22vh + 29vw);
  } 
}

@media (min-height: 424px) and (max-width:1080px) and (orientation: landscape) {
  .svg-logo-celular-carregada {
    width: 21vw;
    height: 12vh;
    fill: white;
  }
  .svg-letra-s-celular {
    border: 0px solid green;
    opacity: 0.07;
    width: 100%;
    height: 100%;
  }
  .svg-letra-m-celular {
    border: 0px solid green;
    opacity: 0.09;
    width: 85%;
    height: 100%;
  }
  .svg-letra-d-celular {
    border: 0px solid green;
    opacity: 0.09;
    width: 85%;
    height: 100%;
  }

  .div-row-letra-d-xs {
    position: relative;
    top: 20vh;
  }

  #container-parte-2 {
    border: 0px solid black;
    top: 22vh;
  }

  #container-parte-3 {
    border: 0px solid black;
    top: 50vh;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 75vh;
  }

   #container-parte-5 {
    position: relative;
    top: 110vh;
  } 

  

}


@media (min-height: 640px) and (max-width:1080px) and (orientation: landscape) {
  #container-parte-2 {
    border: 0px solid black;
    top: 10vh;
  }

  #container-parte-3 {
    border: 0px solid black;
    top: 30vh;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 50vh;
  }

}

@media (min-height: 1024px) and (max-width:1080px) and (orientation: landscape) {
  
  
  #container-parte-3 {
    border: 0px solid black;
    top: 50vh;
  }

  #container-parte-4 {
    border: 0px solid black;
    position: relative;
    top: 80vh;
  }
}

#svg-letra-s {
  animation: 5s girarAntiHorario ease-in-out infinite;
}

@keyframes girarAntiHorario {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#svg-letra-m {
  animation: 5s girarAntiHorario2 ease-in-out infinite;
}

@keyframes girarAntiHorario2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
#svg-letra-d {
  animation: 5s girarAntiHorario3 ease-in-out infinite;
}

@keyframes girarAntiHorario3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


#div-que-se-esconde {
  position: relative;
  transition: transform 0.8s ease;
}

#svg-button-frontend {
  height: 7vh;
  cursor: pointer;
}

#svg-button-backend {
  height: 7vh;
  cursor: pointer;
}

.fillRect {
  transition: width 0.5s ease;
}
}